<Configuration>
    <!--为了防止进程退出时，内存中的数据丢失，请加上此选项-->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <!--输出到控制台-->
    <!-- 控制台输出 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{0}: %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <appender name="aliyun" class="com.aliyun.openservices.log.logback.LoghubAppender">
        <!--必选项-->
        <!-- 账号及网络配置 -->
        <endpoint>cn-shanghai.log.aliyuncs.com</endpoint>
        <accessKeyId></accessKeyId>
        <accessKeySecret></accessKeySecret>

        <!-- sls 项目配置 -->
        <project>jushan-log</project>
        <logStore>jushan-log</logStore>
        <!--必选项 (end)-->

        <!-- 可选项 -->
        <topic>your topic</topic>
        <source>your source</source>

        <!-- 可选项 详见 '参数说明'-->
        <totalSizeInBytes>104857600</totalSizeInBytes>
        <maxBlockMs>0</maxBlockMs>
        <ioThreadCount>8</ioThreadCount>
        <batchSizeThresholdInBytes>524288</batchSizeThresholdInBytes>
        <batchCountThreshold>4096</batchCountThreshold>
        <lingerMs>2000</lingerMs>
        <retries>10</retries>
        <baseRetryBackoffMs>100</baseRetryBackoffMs>
        <maxRetryBackoffMs>50000</maxRetryBackoffMs>

        <!-- 可选项 通过配置 encoder 的 pattern 自定义 log 的格式 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{0}: %msg%n</pattern>
            <charset>utf-8</charset>
        </encoder>

        <!-- 可选项 设置 time 字段呈现的格式 -->
        <timeFormat>yyyy-MM-dd'T'HH:mmZ</timeFormat>
        <!-- 可选项 设置 time 字段呈现的时区 -->
        <timeZone>UTC</timeZone>
        <!-- 可选项 设置是否要添加 Location 字段（日志打印位置），默认为 true -->
        <includeLocation>true</includeLocation>
        <!-- 可选项 当 encoder 不为空时，是否要包含 message 字段，默认为 true -->
        <includeMessage>true</includeMessage>
        <!-- 可选项 可注入自定义的 credentialsProvider，允许用户自行实现 AK 获取逻辑 -->
        <!-- 参见 "自定义凭证提供者 CredentialsProvider" 一节介绍 -->
        <credentialsProviderBuilder
                class="com.aliyun.openservices.log.logback.example.ExampleCredentialsProviderBuilder">
            <accessKeyId></accessKeyId>
            <accessKeySecret></accessKeySecret>
        </credentialsProviderBuilder>
        <!-- 可选项，exception 堆栈最大记录长度，超出此长度会被截断，默认值为 500 -->
        <maxThrowable>500</maxThrowable>
    </appender>


    <root level="INFO">
        <appender-ref ref="console" />
        <appender-ref ref="aliyun" />
    </root>
    <!-- 配置日志记录的行为（Logger）      end  -->
</Configuration>